<div class="row">

	<div class="fc-catalog-categories clearfix">
		[[!getResources?
		&parents=`5`
		&depth=`0`
		&tpl=`product-category-card`
		&includeTV<div class="row">

		<div class="fc-catalog-categories clearfix">
			[[!getResources?
			&parents=`5`
			&depth=`0`
			&tpl=`product-category-card`
			&includeTVs=`1`
			]]
		</div>

		<div class="col-xs-12">
			<hr/>
		</div>

		<div class="fc-catalog-product-list">
			[[!getResources?
			&parents=`10,11`
			&tpl=`product-card`
			&includeTVs=`1`
			]]
		</div>

	</div>s=`1`
		]]
	</div>

	<div class="col-xs-12">
		<hr/>
	</div>

	<div class="fc-catalog-product-list">
		[[!getResources?
		&parents=`10,11`
		&tpl=`product-card`
		&includeTVs=`1`
		]]
	</div>

</div>