<tr>
	<td class="image">
		<a href="/fused-clapton-coil-ss.html">
			<img src="/images/catalog/fused-clapton-coil/gallery/fused-clapton-coil-69x69.jpg" alt="Fused Clapton Coil SS" title="Fused Clapton Coil SS">
		</a>
	</td>
	<td class="name">
		<a href="/fused-clapton-coil-ss.html">Fused Clapton Coil SS</a>
		<div class="options"></div>
	</td>
	<td class="quantity">
		1
	</td>
	<td class="price">250 р.</td>
	<td class="total">250 р.</td>
</tr>