<div class="fc-cart-products">

	<div class="alert alert-info" role="alert" style="display: none;">
		Корзина пуста
	</div>

	<table class="table table-striped table-responsive fc-cart-products-table">
		
		<thead>
		<tr>
			<th class="image">Фото</th>
			<th class="name">Наименование товара</th>
			<th class="quantity">
				<span title="Количество">Кол-во</span>
			</th>
			<th class="price">Цена</th>
			<th class="total">Итого</th>
			<th class="remove"></th>
		</tr>
		</thead>



		<tbody>

		<tr class="fc-cart-item">
			<td>
				<a href="http://foxcoils.ru/fused-clapton-coil-ss.html">
					<img src="http://foxcoils.ru/images/catalog/fused-clapton-coil/gallery/fused-clapton-coil-69x69.jpg" alt="Fused Clapton Coil SS" title="Fused Clapton Coil SS">
				</a>
			</td>
			<td >
				<a href="http://foxcoils.ru/fused-clapton-coil-ss.html">Fused Clapton Coil SS</a>
				<div class="fc-item-options">
					<ul class="list-unstyled">
						<li>Материал 2х0.4 316L + 0.1 n80 | ~0.11 Ω*</li>
						<li>Оправа 3.0</li>
					</ul>
				</div>
			</td>
			<td class="fc-cart-qty-col">
				<div class="fc-cart-qty-wr">
					<input type="text" value="2" class="form-control fc-cart-qty" id="fc-cart-qty" data-item_id="1_1_1">
				</div>
			</td>
			<td class="fc-cart-price-col">250 руб.</td>
			<td class="fc-cart-total-col">
				<span class="fc-item-total" data-item_price="250"></span> руб.
			</td>
			<td class="fc-remove-col">
				<span class="fc-btn-remove" data-item_id="1_1_1"><i class="fa fa-remove"></i></span>
			</td>
		</tr>

		<tr>
			<td colspan="10" class="text-right">
		<span class="fc-cart-footer-td">
		  <b>Итого:</b>
		</span>
		<span class="fc-cart-footer-td">
		  <span id="fc-cart-total"></span> руб.
			<input type="hidden" name="fc-cart-total">
		</span>
			</td>
		</tr>

		<tr>
			<td colspan="10" class="text-right">
		  <span class="fc-cart-footer-td">
			<b>Стоимость доставки:</b>
		  </span>
				<span class="fc-cart-footer-td">
			<span id="fc-cart-shipping"></span> руб.
		  </span>
			</td>
		</tr>

		<tr>
			<td colspan="10" class="text-right">
		  <span class="fc-cart-footer-td">
			<b>Итого с учетом доставки:</b>
		  </span>
				<span class="fc-cart-footer-td">
			<span id="fc-cart-total-with-shipping">0</span> руб.
		  </span>
			</td>
		</tr>

		</tbody>

	</table>
</div>

<hr/>