<div class="fc-cart-products">

	<table class="table table-striped table-responsive fc-cart-products-table">
		
		<thead>
		<tr>
			<th class="image">Фото</th>
			<th class="name">Наименование товара</th>
			<th class="quantity">
				<span title="Количество">Кол-во</span>
			</th>
			<th class="price">Цена</th>
			<th class="total">Итого</th>
		</tr>
		</thead>



		<tbody>

		<tr>
			<td class="image">
				<a href="http://foxcoils.ru/fused-clapton-coil-ss.html">
					<img src="http://foxcoils.ru/images/catalog/fused-clapton-coil/gallery/fused-clapton-coil-69x69.jpg" alt="Fused Clapton Coil SS" title="Fused Clapton Coil SS">
				</a>
			</td>
			<td class="name">
				<a href="http://foxcoils.ru/fused-clapton-coil-ss.html">Fused Clapton Coil SS</a>
				<div class="options"></div>
			</td>
			<td class="quantity">
				1
			</td>
			<td class="price">250 р.</td>
			<td class="total">250 р.</td>
		</tr>

		<tr>
			<td class="image">
				<a href="http://foxcoils.ru/fused-clapton-coil-ss.html">
					<img src="http://foxcoils.ru/images/catalog/fused-clapton-coil/gallery/fused-clapton-coil-69x69.jpg" alt="Fused Clapton Coil SS" title="Fused Clapton Coil SS">
				</a>
			</td>
			<td class="name">
				<a href="http://foxcoils.ru/fused-clapton-coil-ss.html">Fused Clapton Coil SS</a>
				<div class="options"></div>
			</td>
			<td class="quantity">
				1
			</td>
			<td class="price">250 р.</td>
			<td class="total">250 р.</td>
		</tr>

		<tr>
			<td class="image">
				<a href="http://foxcoils.ru/fused-clapton-coil-ss.html">
					<img src="http://foxcoils.ru/images/catalog/fused-clapton-coil/gallery/fused-clapton-coil-69x69.jpg" alt="Fused Clapton Coil SS" title="Fused Clapton Coil SS">
				</a>
			</td>
			<td class="name">
				<a href="http://foxcoils.ru/fused-clapton-coil-ss.html">Fused Clapton Coil SS</a>
				<div class="options"></div>
			</td>
			<td class="quantity">
				1
			</td>
			<td class="price">250 р.</td>
			<td class="total">250 р.</td>
		</tr>

		</tbody>

	</table>
</div>

<div class="fc-cart-products-tr">
	<div class="fc-cart-products-td">
		<span class="fc-total">
			<b>Итого:</b>
		</span>
		<span class="fc-total">1 410 р.</span>
	</div>
</div>