<div class="row">
	<div class="col-sm-12 col-md-6">

		<div class="panel panel-default">
			<div class="panel-heading"><b>Покупатель</b></div>
			<div class="panel-body">
				<div class="col-xs-12">
					<div class="fc-cart-checkout-form">
						<fieldset class="form-horizontal">
							<div class="form-group required">
								<label class="control-label" for="customer_firstname">Имя</label>
								<input class="form-control" id="customer_firstname" type="text">
							</div>
							<div class="form-group required">
								<label class="control-label" for="customer_lastname">Фамилия</label>
								<input class="form-control" id="customer_lastname" type="text">
							</div>
							<div class="form-group required">
								<label class="control-label" for="customer_email">Email</label>
								<input class="form-control" id="customer_email" type="text">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading"><b>Комментарий</b></div>
			<div class="panel-body">
				<div class="col-xs-12">
					<div class="fc-cart-checkout-form">
						<fieldset class="form-horizontal">
							<div class="form-group">
								<textarea class="form-control" id="customer_comment" type="text"></textarea>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-12 col-md-6">

		<div class="panel panel-default">
			<div class="panel-heading"><b>Адрес доставки</b></div>
			<div class="panel-body">
				<div class="col-xs-12">
					<div class="fc-cart-checkout-form">
						<fieldset class="form-horizontal">
							<div class="form-group required">
								<label class="control-label">Регион</label>
								<input class="form-control" type="text">
							</div>
							<div class="form-group required">
								<label class="control-label">Город</label>
								<input class="form-control" type="text">
							</div>
							<div class="form-group required">
								<label class="control-label">Индекс</label>
								<input class="form-control" type="text">
							</div>
							<div class="form-row">
								<div class="form-group required col-md-6">
									<label class="control-label">Улица</label>
									<input class="form-control" type="text">
								</div>
								<div class="form-group required col-md-4">
									<label class="control-label">Дом</label>
									<input class="form-control" type="text">
								</div>
								<div class="form-group required col-md-2">
									<label class="control-label">Квартира</label>
									<input class="form-control" type="text">
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>



