<a href="" class="rs-header__catalog-nav-icon"><img src="images/header__menu-icon.png">Каталог товаров</a>
<div class="rs-catalog-nav-list">
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>