<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer_links col-sm-8 col-xs-12">
					<a href="/contacts.html">Контакты</a>
					<!--<a href="/wholesale">Оптовикам</a>-->
					<!--<a href="/delivery">Доставка и оплата</a>-->
					<!--<a href="/privacy">Политика Безопасности</a>-->
					<!--<a href="/terms">Условия соглашения</a>-->
				</div>
				<div class="soc_s col-sm-4 col-xs-12">
					<a href="https://vk.com/fox_coils"><i class="fa fa-vk" data-toggle="tooltip" title="" data-original-title="В Контакте"></i></a>
					<a href="https://www.instagram.com/foxcoils/"><i class="fa fa-instagram" data-toggle="tooltip" title="" data-original-title="Instagram"></i></a>
					<a href=""><i class="fa fa-facebook-square" data-toggle="tooltip" title="" data-original-title="Facebook"></i></a>
				</div>
				<div class="ficons col-sm-6 col-xs-12">
					<!--<span class="revtheme_footer_icon"><img src="/images/alfa-50x30.png" alt=""></span>
					<span class="revtheme_footer_icon"><img src="/images/sberbank-50x30.png" alt=""></span><span class="revtheme_footer_icon"><img src="/images/yandex-50x30.png" alt=""></span>
					<span class="revtheme_footer_icon"><img src="/images/visa-50x30.png" alt=""></span>
					<span class="revtheme_footer_icon"><img src="/images/master-50x30.png" alt=""></span>
					<span class="revtheme_footer_icon"><img src="/images/sdek-50x30.png" alt=""></span>
					<span class="revtheme_footer_icon"><img src="/images/mailofrussia-50x30.png" alt=""></span>-->
				</div>
				<div style="text-align:right" class="powered col-sm-6 col-xs-12">foxcoils.ru - Foxcoils.ru - готовые спирали, намотки, койлы. Доставка по РФ &copy; 2017</div>
			</div>
		</div>
	</div>
</footer>