<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer_links col-md-8 col-sm-12">
					<a href="/catalog">Каталог</a>
					<a href="/contacts.html">Контакты</a>
					<a href="/polzovatelskoe-soglashenie.html">Пользовательское соглашение</a>
					<a href="/politika-konfidenczialnosti.html">Политика конфиденциальности</a>
				</div>
				<div class="soc_s col-md-4 col-sm-12">
					<a href="https://vk.com/fox_coils"><i class="fa fa-vk" data-toggle="tooltip" title="" data-original-title="В Контакте"></i></a>
					<a href="https://www.instagram.com/foxcoils/"><i class="fa fa-instagram" data-toggle="tooltip" title="" data-original-title="Instagram"></i></a>
				</div>
				<div class="col-md-6 col-sm-12"></div>
				<div class="powered col-md-6 col-sm-12">foxcoils.ru - Foxcoils.ru - готовые спирали, намотки, койлы. Доставка по РФ &copy; 2017</div>
			</div>
		</div>
	</div>
</footer>

{{>main-scripts}}