<div class="rs-header">
    <div class="rs-header__topbar">
	    <div class="rs-header__topbar-inner">
		    <div class="rs-header__logo">
			    {{>logo}}
		    </div>
		    <div class="rs-header__menu">
			    <a href="" class="rs-header__menu-icon"><img src="images/header__menu-icon.png"></a>
			    {{>menu}}
		    </div>
	    </div>
    </div>
</div>
