<header>
	<div class="fc-header">
		
		<div class="fc-header__topbar">
			<div class="fc-header__top-links container">
				<div class="pull-left">
					<a href="/">Каталог</a>
					<a href="/">Контакты</a>
				</div>
				<div class="pull-right">
					<a href="/cart.html" class="fc-header__cart-link"><i class="fa fa-shopping-basket"></i> Корзина (<span id="cart-total-qty"></span>)</a>
				</div>
			</div>
		</div>
		
		<div class="fc-header__middlebar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-3">
						<div class="fc-header__logo">
							{{>logo}}
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-6">
						<div class="rs-header-ttl">
							<div>
								<span class="h3">
									<span class="rs-header-ttl__in">Fox Coils</span>
									<span class="rs-header-ttl__in">Койлы</span>
									<span class="rs-header-ttl__in">Намотки</span>
							    </span>
							</div>
							<div class="rs-header-ttl-inner hidden-xs hidden-sm">
								<div><span>Намотки для густого и вкусного пара!</span></div>
								<div><span>Изготовление на заказ! Доставка по всей России!</span></div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="fc-header-contacts hidden-xs hidden-sm">
							<div class="header_phone_number">
								<span class="phone-outer"><span class="phone-inner">+7 (919)</span> 871 76 67</span>
								<span class="phone-soc">WhatsApp / Telegram / Viber</span>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
		<div class="fc-header__bottombar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-3">

						<div class="fc-menu-btn">

							<div class="fc-menu-btn-heading dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-bars"></i>Каталог<span class="hidden-xs"> товаров</span>
								<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span>
							</div>

							<div class="box-content dropdown-menu fc-dropdown-menu fc-dropdown-menu-header-bottombar">
								<div class="header-category-nav">
									<ul class="catalog_list catalog_list_popup catalog_as_popup list-unstyled">
										<li>
											<a href="/" class="category-nav-link"><i class="fa fa-angle-right category-nav-icon"></i>Намотки для механических модов</a>
										</li>
										<li>
											<a href="/" class="category-nav-link"><i class="fa fa-angle-right category-nav-icon"></i>Намотки для модов на основе платы</a>
										</li>
									</ul>
								</div>
							</div>

						</div>


					</div>

					<div class="top-links nav razmivcont hidden-xs hidden-sm col-md-6">
						<ul class="list-inline">
							<!--<li><a href="latest"><i class="hidden-md fa fa-bullhorn"></i>Новинки</a>-->
							<!--</li>-->
							<!--<li><a href="best"><i class="hidden-md fa fa-star"></i>Хиты продаж</a>-->
							<!--</li>-->
							<!--<li><a href="specials"><i class="hidden-md fa fa-certificate"></i>Акции</a>-->
							<!--</li>-->
							<!--<li><a href="news"><i class="hidden-md fa fa-newspaper-o"></i>Новости</a>-->
							<!--</li>-->
							<!--<li><a href="otzivy"><i class="hidden-md fa fa-check"></i>Отзывы</a>-->
							<!--</li>-->
							<!--<li><a href="/contacts.html"><i class="hidden-md fa fa-newspaper-o"></i>Контакты</a>-->
							<!--</li>-->
						</ul>
					</div>

					<!--<div class="razmivcont col-xs-6 col-md-3">-->
						<!--<div id="cart" class="btn-group show-on-hover">-->
							<!--<button type="button" class="cart dropdown-toggle fc-dropdown-hover hidden-xs hidden-sm" data-toggle="dropdown">-->
								<!--<span id="cart-total"><i class="fa fa-shopping-basket"></i><span class="hidden-xs">Корзина<span class="hidden-md"> покупок</span></span>: 0</span><span class="icorightmenu"><i class="fa fa-chevron-down"></i></span>-->
							<!--</button>-->
							<!--<button class="cart dropdown-toggle hidden-md hidden-lg" data-toggle="dropdown">-->
								<!--<span id="cart-total-popup"><i class="fa fa-shopping-basket"></i><span class="hidden-xs">Корзина<span class="hidden-md"> покупок</span></span>: 0</span>-->
							<!--</button>-->
							<!--<ul class="dropdown-menu fc-dropdown-menu fc-dropdown-menu-header-bottombar pull-right">-->
								<!--<li>-->
									<!--<p class="text-center">В корзине пусто!</p>-->
								<!--</li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					
				</div>
			</div>
		</div>
	</div>
</header>

