<head>
	<meta charset="UTF-8">
	<title>FoxCoils</title>
	<link rel="stylesheet" href="css/app.min.css" type="text/css" />
	<script type="text/javascript" src="js/app.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>