<div class="rs-home-banner">
	<div class="rs-home-banner-text">
		<div class="rs-home-banner-text__inner">
			<div class="rs-ttl rs-ttl_white-shadow">
				<span class="rs-ttl__inner">Bucik Shoes</span>
			</div>
		</div>
	</div>
	<div class="rs-home-banner-img">
		<img src="images/home-banner__slide-01.jpg" class="rs-home-banner__img">
	</div>
</div>
