<section class="main-content">
	<div class="container">

		
		<div class="row">
			<div class="col-sm-12">
				<div class="row">


					<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="/product-page.html">
									<img src="/images/catalog/fused-clapton-coil-200x200.jpg" alt="Fused Clapton Coil" title="Fused Clapton Coil" class="img-responsive " itemprop="image">
								</a>
								<div class="stiker_panel">
									<span class="hidden special_no_format50"></span>
								</div>
								<!--<div class="fapanel">-->
									<!--<div class="lupa">-->
										<!--<a onclick=""><i data-toggle="tooltip" data-placement="left" title="" class="fa fa-border fa-eye" data-original-title="Быстрый просмотр"></i></a>-->
									<!--</div>-->
								<!--</div>-->
							</div>

							<div class="caption product-info clearfix">
								<h4>
									<a href="/product-page.html"><span>Fused Clapton Coil</span></a>
								</h4>
								<div class="product_buttons">
									<div class="price">
										<span class="price_no_format50">125 руб.</span>
									</div>
									<div class="number bordnone"></div>
									<input name="quantity" class="plus-minus" value="1" type="hidden">
									<div class="cart">
										<a><i class="fa fa-border fa-shopping-basket"><span class="prlistb active">В корзину</span></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="">
									<img src="/images/catalog/Alien Clapton Coil.jpg" alt="Alien Clapton Coil" title="Alien Clapton Coil" class="img-responsive " itemprop="image">
								</a>
								<div class="stiker_panel">
									<span class="hidden special_no_format50"></span>
								</div>
								<!--<div class="fapanel">-->
									<!--<div class="lupa">-->
										<!--<a onclick=""><i data-toggle="tooltip" data-placement="left" title="" class="fa fa-border fa-eye" data-original-title="Быстрый просмотр"></i></a>-->
									<!--</div>-->
								<!--</div>-->
							</div>

							<div class="caption product-info clearfix">
								<h4>
									<a href="https://coilslab.ru/clapton-dlya-platy"><span>Alien Clapton Coil</span></a>
								</h4>
								<div class="product_buttons">
									<div class="price">
										<span class="price_no_format50">250 руб.</span>
									</div>
									<div class="number bordnone"></div>
									<input name="quantity" class="plus-minus" value="1" type="hidden">
									<div class="cart">
										<a><i class="fa fa-border fa-shopping-basket"><span class="prlistb active">В корзину</span></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>

				<!--<div class="row">-->
					<!--<div class="pagpages clearfix">-->
						<!--<div class="col-sm-6 text-left"></div>-->
						<!--<div class="col-sm-6 text-right">Показано с 1 по 10 из 10 (всего 1 страниц)</div>-->
					<!--</div>-->
				<!--</div>-->


				<!--<div class="footer-category">-->
					<!--<div class="row category_description">-->
						<!--<div itemprop="description">-->
						<!--<p>В этом разделе вы можете <b>купить готовые спирали</b> для электронных сигарет, которые удовлетворят всем вашим потребоностям.</p>-->
					<!--</div>-->
				<!--</div>-->

			</div>
		</div>
	</div>
</section>