
	
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					
					<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="/fused-clapton-coil.html">
									<img src="/images/catalog/fused-clapton-coil-200x200.jpg" alt="Fused Clapton Coil" title="Fused Clapton Coil" class="img-responsive " itemprop="image">
								</a>
								<div class="stiker_panel">
									<span class="hidden special_no_format50"></span>
								</div>
								<!--<div class="fapanel">-->
									<!--<div class="lupa">-->
										<!--<a onclick=""><i data-toggle="tooltip" data-placement="left" title="" class="fa fa-border fa-eye" data-original-title="Быстрый просмотр"></i></a>-->
									<!--</div>-->
								<!--</div>-->
							</div>

							<div class="caption product-info clearfix">
								<h4>
									<a href="/fused-clapton-coil.html"><span>Fused Clapton Coil</span></a>
								</h4>
								<div class="product_buttons">
									<div class="price">
										<span class="price_no_format50">125 руб.</span>
									</div>
									<input name="quantity" class="plus-minus" value="1" type="hidden">
									<div class="cart">
										<button type="button" class="btn btn-primary btn-sm fc-button">
											<i class="fa fa-shopping-basket"></i>
											В корзину
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="/alien-clapton-coil.html">
									<img src="/images/catalog/alien-clapton-coil-200x200.jpg" alt="Alien Clapton Coil" title="Alien Clapton Coil" class="img-responsive " itemprop="image">
								</a>
								<div class="stiker_panel">
									<span class="hidden special_no_format50"></span>
								</div>
								<!--<div class="fapanel">-->
									<!--<div class="lupa">-->
										<!--<a onclick=""><i data-toggle="tooltip" data-placement="left" title="" class="fa fa-border fa-eye" data-original-title="Быстрый просмотр"></i></a>-->
									<!--</div>-->
								<!--</div>-->
							</div>

							<div class="caption product-info clearfix">
								<h4>
									<a href="/alien-clapton-coil.html"><span>Alien Clapton Coil</span></a>
								</h4>
								<div class="product_buttons">
									<div class="price">
										<span class="price_no_format50">250 руб.</span>
									</div>
									<input name="quantity" class="plus-minus" value="1" type="hidden">
									<div class="cart">
										<a href="/alien-clapton-coil.html#addtocart" type="button" class="btn btn-primary btn-sm fc-button">
											<i class="fa fa-shopping-basket"></i>
											В корзину
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="/fused-clapton-coil.html">
									<img src="/images/catalog/fused-clapton-coil-200x200.jpg" alt="Fused Clapton Coil" title="Fused Clapton Coil" class="img-responsive " itemprop="image">
								</a>
								<div class="stiker_panel">
									<span class="hidden special_no_format50"></span>
								</div>
								<!--<div class="fapanel">-->
								<!--<div class="lupa">-->
								<!--<a onclick=""><i data-toggle="tooltip" data-placement="left" title="" class="fa fa-border fa-eye" data-original-title="Быстрый просмотр"></i></a>-->
								<!--</div>-->
								<!--</div>-->
							</div>

							<div class="caption product-info clearfix">
								<h4>
									<a href="/fused-clapton-coil.html"><span>Fused Clapton Coil</span></a>
								</h4>
								<div class="product_buttons">
									<div class="price">
										<span class="price_no_format50">125 руб.</span>
									</div>
									<input name="quantity" class="plus-minus" value="1" type="hidden">
									<div class="cart">
										<button type="button" class="btn btn-primary btn-sm fc-button">
											<i class="fa fa-shopping-basket"></i>
											В корзину
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>

			</div>
		</div>
