@import "../common.less";

.rs-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background: orangered;
}

.rs-header__topbar {
	margin: 0 auto;
	max-width: @screen;
}

.rs-header__logo {
	float: left;
}

.rs-header__menu {
	float: right;
}

.rs-header__menu-icon {
	float: right;

	&:hover {
		.hover();
	}
}

@media screen and (max-width: @mobile) {

}