@import "../common.less";

.rs-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.rs-header__topbar {
	margin: 0 auto;
	max-width: @screen;
}

.rs-header__topbar-inner {
	padding: 39px @home-block-padding;
}

.rs-header__logo {
	float: left;
}

.rs-header__menu {
	float: right;
}

.rs-header__menu-icon {
	float: right;

	&:hover {
		.hover();
	}
}

@media screen and (max-width: @mobile) {
	.rs-header__topbar-inner {
		padding: @home-block-padding-mobile;
	}
}