.fc-cart-products {}

.table.fc-cart-products-table {
	margin-bottom: 0;

	td {
		vertical-align: middle;
	}
}

.fc-cart-products-tr {
	text-align: right;

	.fc-cart-products-td {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: middle;
		border-top: 1px solid #ddd;

		.fc-total {
			display: inline-block;
			min-width: 50px;
			margin: 0 5px;
		}
	}
}
