.fc-cart-products {}

.table.fc-cart-products-table {
	td {
		vertical-align: middle;
	}
}

.fc-cart-total {
	display: inline-block;
	min-width: 50px;
	margin: 0 5px;
}

.fc-cart-checkout-btn {
	padding: 20px 0;
	border-top: 1px solid #ddd;
}

.fc-cart-comment {
	resize: none;
}