.footer {
	background-color: #ddd;
	color: @base-font-color;

	a {
		margin-right: 10px;
		color: @base-font-color;

		&:hover {
			color: @base-hover-color;
		}
	}

	.footer_links {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.soc_s {
		text-align: right;
		font-size: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		a {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.powered {
		padding-top: 10px;
		padding-bottom: 30px;
		text-align: right;
	}
}

@media (max-width: @screen-sm-max) {
	.footer {
		.footer_links {
			a {
				display: block;
				padding: 10px 10px;
				border-bottom: 1px solid #eee;

				&:hover {
					background: #eee;
				}
			}
		}

		.soc_s {
			text-align: center;
		}

		.powered {
			text-align: center;
		}
	}
}