<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FoxCoils</title>
	<link rel="stylesheet" href="css/app.min.css" type="text/css" />
	<script type="text/javascript" src="js/app.min.js"></script>
</head>

<body>

{{>header}}


<section class="main-content">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				
				{{>cart-products}}
				{{>cart-checkout}}
				
			</div>
		</div>

	</div>
</section>


{{>footer}}

</body>
</html>