<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoxCoils</title>
    <link rel="stylesheet" href="css/app.min.css" type="text/css" />
    <script type="text/javascript" src="js/app.min.js"></script>
</head>

<body class="fc-body">

	{{>header}}
	{{>catalog}}
	{{>footer}}

<script>
	$('.fc-dropdown-hover').bootstrapDropdownHover();
</script>
	

</body>
</html>