<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bucik</title>

    <link rel="stylesheet" href="css/app.min.css" type="text/css" />

    <script type="text/javascript" src="js/plugins.min.js"></script>
    <script type="text/javascript" src="js/app.min.js"></script>
</head>

<body class="rs-body">

<div class="rs-page">

	<div class="rs-page-item">
		{{>header}}
		{{>home-banner}}
	</div>
	<div class="rs-page-item">
		{{>home-slide-01}}
	</div>
	<div class="rs-page-item">
		{{>home-slide-02}}
	</div>
	<div class="rs-page-item">
		{{>home-slide-03}}
	</div>
	<div class="rs-page-item">
		{{>home-slide-04}}
	</div>
	<div class="rs-page-item">
		{{>footer}}
	</div>
	
</div>

</body>
</html>