<section class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				[[Breadcrumbs? &crumbSeparator=`` &currentAsLink=`0` &homeCrumbTitle=`Главная`]]
				[[*content]]
			</div>
		</div>
	</div>
</section>