
<!--<div class="form-group pokupka">-->
	<!--<div class="pop_left">-->

		<!--<label class="control-label prq_title hidden-xs">Количество:</label>-->
		<!--<div class="number">-->
			<!--<div class="frame-change-count">-->
				<!--<div class="btn-plus">-->
					<!--<button type="button" onclick="validate_pole(this,50,'+',1,936);">+</button>-->
				<!--</div>-->
				<!--<div class="btn-minus">-->
					<!--<button type="button" onclick="validate_pole(this,50,'-',1,936);">-</button>-->
				<!--</div>-->
			<!--</div>-->
			<!--<input name="quantity" class="plus-minus" value="1" onchange="validate_pole(this);" onkeyup="validate_pole(this,50,'=',1,936);" type="text">-->
		<!--</div>-->



		<!--<button type="button" id="button-cart" onclick="get_revpopup_cart(50,'product',get_revpopup_cart_quantity('50'));" data-loading-text="Загрузка..." class="btn btn-primary btn-lg"><i class="fa fa-shopping-basket"></i>В корзину</button>-->
	<!--</div>-->
<!--</div>-->

